.css-icon {

}

.gps_ring {	
    border: 3px solid #999;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;		
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    /*opacity: 0.0*/
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#test {
    background-color: red;
    height: 200px;

    height: 100%;
    width: 100%;
    border: 3px solid black;
}

#mapid {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #dee; */
    padding: 0;
    margin: 0;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  /* color: white; */
  /* border: none; */
  margin: 5px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
